body {
    background-image: url("mainbackground.png");
    background-size: 1450px 900px;
}

.topnav {
    padding: 15px;
    border: 3px solid white;
    margin-bottom: 50px;
    margin: 20px;
}

#nav-header {
    padding-left: 100px;
    color: white;
    font-size: 25px;
}

#nav-header:hover {
    color: #8EC35F;
}

#nu-header {
    padding-left: 10px;
    color: white;
    padding-right: 620px;
    font-size: 30px;
}

#bttn {
    padding: 16px 50px;
    border-radius: 20px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    background-color: transparent;
    color: white;
    transition-duration: 0.2s;
    border: 2px solid white;
}

#bttn:hover {
    background-color: white;
    color: #8EC35F;
}

.whole-bttn {
    padding: 20px;
}

#web-head {
    padding: 80px;
    text-align: center;
}

#food-decoration {
    padding: 80px;
    text-align: center;
}

#bttn {
    padding: 16px 50px;
    border-radius: 20px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    border: 2px solid solid white;
}


