<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../static/css/breakfast.css">
    <title>WildHacks2022</title>

</head>
<body>

  <div class="topnav">
    <a id="nu-header">MUNCHIES</a>
    <div class = "navheaderbox">
      <a href="breakfast.html" id="nav-header" style="text-decoration: none;">Breakfast</a>
      <a href="lunch.html" id="nav-header" style="text-decoration: none;">Lunch</a>
      <a href="dinner.html" id="nav-header" style="text-decoration: none;">Dinner</a> 
    </div>   
  </div>

    <header>
            <h1 id="select-instruct">SELECT MUNCHIES</h1>
    </header>

    <main>
       <!-- <div class="container">  -->
         <div class="row"> 
          <div class="column">
            <h2>Comfort</h2>

            <div class="checkbox">
              <input type="checkbox" name="" id="">
              <div class="box">
                <i class="Pasta"></i>
                <p data-text="Pasta">Pasta</p>
              </div>
            </div>
            
            <div class="checkbox">
              <input type="checkbox" name="" id="">
              <div class="box">
                <i class="Pasta"></i>
                <p data-text="Pasta">Pasta</p>
              </div>
            </div>

          </div>

          <div class="column">
            <h2>Rooted</h2>
            <div class="checkbox">
              <input type="checkbox" name="" id="">
              <div class="box">
                <i class="Pasta"></i>
                <p data-text="Pasta">Pasta</p>
              </div>
            </div>
          </div>

          <div class="column">
            <h2>idk</h2>
            <div class="checkbox">
              <input type="checkbox" name="" id="">
              <div class="box">
                <i class="Pasta"></i>
                <p data-text="Pasta">Pasta</p>
              </div>
            </div>
          </div>

          <div class="column">
            <h2>Flame</h2>
            <div class="checkbox">
              <input type="checkbox" name="" id="">
              <div class="box">
                <i class="Pasta"></i>
                <p data-text="Pasta">Pasta</p>
              </div>
            </div>

            <div class="checkbox">
              <input type="checkbox" name="" id="">
              <div class="box">
                <i class="Pasta"></i>
                <p data-text="Pasta">Pasta</p>
              </div>
            </div>

            <div class="checkbox">
              <input type="checkbox" name="" id="">
              <div class="box">
                <i class="Pasta"></i>
                <p data-text="Pasta">Pasta</p>
              </div>
            </div>
          </div>

         </div> 
         <br />
         <div class="row"> 
           <a href="finish.html"><button id="bttn">Submit</button></a>
         </div>
     <!--- </div>  -->
        
    </main>

</body>

</html>
