<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/home.css">
    <title>WildHacks2022</title>
</head>

<body>

    <div class="topnav">
        <a href="index.html" style="text-decoration: none;" id="nu-header">MUNCHIES</a>
        <a href="s_breakfast.html" id="nav-header" style="text-decoration: none;">Breakfast</a>
        <a href="s_lunch.html" id="nav-header" style="text-decoration: none;">Lunch</a>
        <a href="s_dinner.html" id="nav-header" style="text-decoration: none;">Dinner</a>            
    </div>

    <main>
        <article id="home-body">
            <p>Pick a meal to edit:</p>
                <div class="home-text">
                    <a href="breakfast.html"><button id="bttn">Breakfast</button></a>
                    <a href="lunch.html"><button id="bttn">Lunch</button></a>
                    <a href="dinner.html"><button id="bttn">Dinner</button></a>
                </div>
        </article>
    </main>

</body>

</html>