<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/home.css">
    <title>WildHacks2022</title>

    <script type="text/javascript">
        function goToNewPage()
        {
            var data = document.getElementById('dropdown2').value;
            window.location = data;
        }
    </script>
</head>

<body>

    <div class="topnav">
        <a href="index.html" style="text-decoration: none;" id="nu-header">MUNCHIES</a>
        <a href="s_breakfast.html" id="nav-header" style="text-decoration: none;">Breakfast</a>
        <a href="s_lunch.html" id="nav-header" style="text-decoration: none;">Lunch</a>
        <a href="s_dinner.html" id="nav-header" style="text-decoration: none;">Dinner</a>            
    </div>

    <main>
        <article id="home-body">
            <form>
            <label for="dininghalls">Pick a dining hall:</label>
            <select name="dining" id="dropdown1">
                <option value="Allison">Allison</option>
                <option value="Elder">Elder</option>
                <option value="PlexEast">Plex East</option>
                <option value="PlexWest">Plex West</option>
                <option value="Sargent">Sargent</option>
            </select>
            </form>
            <br/>

            <form>
            <label for="meals">Pick a meal:</label>
            <select name="meal" id="dropdown2">
                <option value="breakfast.html">Breakfast</option>
                <option value="lunch.html">Lunch</option>
                <option value="dinner.html">Dinner</option>
            </select>
            <div class="row"> 
                <!-- NEED TO FIX IN FLASK -->
                <a href="breakfast.html"><button id="bttn">Submit</button></a> 
            </div>
            </form>
        </article>
    </main>

</body>

</html>