<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/home.css">
    <title>WildHacks2022</title>
</head>

<body>

    <div class="topnav">
        <a href="index.html" style="text-decoration: none;" id="nu-header">MUNCHIES</a>
        <a href="s_breakfast.html" id="nav-header" style="text-decoration: none;">Breakfast</a>
        <a href="s_lunch.html" id="nav-header" style="text-decoration: none;">Lunch</a>
        <a href="s_dinner.html" id="nav-header" style="text-decoration: none;">Dinner</a>            
    </div>

    <main>
        <article id="home-body">
            <label for="dininghalls">Pick a dining hall:</label>
            <select name="dining" id="dropdown">
                <option value="Allison">Allison</option>
                <option value="Elder">Elder</option>
                <option value="PlexEast">Plex East</option>
                <option value="PlexWest">Plex West</option>
                <option value="Sargent">Sargent</option>
            </select>
            <br/>

            <label for="meals">Pick a meal:</label>
            <select name="meal" id="dropdown">
                <option value="Breakfast">Breakfast</option>
                <option value="Lunch">Lunch</option>
                <option value="Dinner">Dinner</option>
            </select>
            <div class="row"> 
                <!-- NEED TO FIX IN FLASK -->
                <a href="breakfast.html"><button id="bttn">Submit</button></a> 
            </div>
        </article>
    </main>

</body>

</html>