<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/index.css">
    <title>WildHacks2022</title>
</head>

<body>

    <div class="topnav">
        <a href="index.html" style="text-decoration: none;" id="nu-header">Munchies</a>
        <a href="s_breakfast.html" id="nav-header" style="text-decoration: none;">Breakfast</a>
        <a href="s_lunch.html" id="nav-header" style="text-decoration: none;">Lunch</a>
        <a href="s_dinner.html" id="nav-header" style="text-decoration: none;">Dinner</a>            
    </div>

    <header>
        <img id="child" src="../static/images/munchies_logo.png" alt="logo" style="width:20%;height:30%;"/>
        <img id="parent" src="../static/images/pentagon.png" alt="pentagon" style="width:46%;height:60%;" />
    </header>

    <main>
        <article id="home-body">
            <div>
                <a href="home.html"><button id="bttn">Edit Munchies</button></a>
            </div>
        </article>
    </main>

</body>

</html>
