<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../static/css/breakfast.css">
    <title>WildHacks2022</title>

</head>
<body>

  <div class="topnav">
    <a href="index.html" id="nu-header" style="text-decoration: none;">MUNCHIES</a>
    <a href="s_breakfast.html" id="nav-header" style="text-decoration: none;">Breakfast</a>
    <a href="s_lunch.html" id="nav-header" style="text-decoration: none;">Lunch</a>
    <a href="s_dinner.html" id="nav-header" style="text-decoration: none;">Dinner</a>            
</div>

    <header>
            <h1 id="select-instruct">SELECT LUNCH LEFTOVERS: </h1>
    </header>

    <main>
          <form method="post">

         <div class="row">
             {% for cat in firstfoods %}
       <!-- <div class="container">  -->
               <div class="column">
                 {% for key in cat %}
                   <h2>{{key}}</h2>
                 {% endfor %}
              {% for all_items in cat.values() %}
                {% for item in all_items %}
            <div class="checkbox">
          {% if item["leftover"] == "no" %}
              <input type="checkbox" name="food" id="leftover" value="{{item['name']}}">
          {% else %}
              <input type="checkbox" name="food" id="leftover" value="{{item['name']}}" checked>
        {% endif %}
              <div class="box">
                <i class="Pasta"></i>
                <p data-text="">{{item["name"]}}</p>
              </div>
            </div>
              {% endfor %}
            {% endfor %}
              </div>
          {% endfor %}
        </div>

              <div class="row">
             {% for cat in secondfoods %}
       <!-- <div class="container">  -->
               <div class="column">
                 {% for key in cat %}
                   <h2>{{key}}</h2>
                 {% endfor %}
              {% for all_items in cat.values() %}
                {% for item in all_items %}
            <div class="checkbox">
          {% if item["leftover"] == "no" %}
              <input type="checkbox" name="food" id="leftover" value="{{item['name']}}">
          {% else %}
              <input type="checkbox" name="food" id="leftover" value="{{item['name']}}" checked>
        {% endif %}
              <div class="box">
                <i class="Pasta"></i>
                <p data-text="">{{item["name"]}}</p>
              </div>
            </div>
              {% endfor %}
            {% endfor %}
              </div>
          {% endfor %}
        </div>

              <div class="row">
             {% for cat in thirdfoods %}
       <!-- <div class="container">  -->
               <div class="column">
                 {% for key in cat %}
                   <h2>{{key}}</h2>
                 {% endfor %}
              {% for all_items in cat.values() %}
                {% for item in all_items %}
            <div class="checkbox">
          {% if item["leftover"] == "no" %}
              <input type="checkbox" name="food" id="leftover" value="{{item['name']}}">
          {% else %}
              <input type="checkbox" name="food" id="leftover" value="{{item['name']}}" checked>
        {% endif %}
              <div class="box">
                <i class="Pasta"></i>
                <p data-text="">{{item["name"]}}</p>
              </div>
            </div>
              {% endfor %}
            {% endfor %}
              </div>
          {% endfor %}
        </div>
         <br />
         <div class="row">
           <a href="finish.html"><button id="bttn" type="submit">Submit</button></a>
         </div>

     <!--- </div>  -->
        </form>
    </main>

</body>

</html>