<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/s_breakfast.css">
    <title>WildHacks2022</title>
</head>

<body>

    <div class="topnav">
        <a href="s_index.html" style="text-decoration: none;" id="nu-header">Munchies</a>
        <a href="s_breakfast.html" id="nav-header" style="text-decoration: none;">Breakfast</a>
        <a href="s_lunch.html" id="nav-header" style="text-decoration: none;">Lunch</a>
        <a href="s_dinner.html" id="nav-header" style="text-decoration: none;">Dinner</a>            
    </div>

    <main>
        <h1 id="web-head">Dinner Munchies</h1> <br>
        <div>
            <a href="s_lunch.html"><button id="bttn">Back</button></a>
        </div>
    </main>

</body>

</html>