<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/index.css">
    <title>WildHacks2022</title>
</head>

<body>

    <div class="topnav">
        <a href="s_home.html" style="text-decoration: none;" id="nu-header">MUNCHIES</a>
        <a href="s_breakfast.html" id="nav-header" style="text-decoration: none;">Breakfast</a>
        <a href="s_lunch.html" id="nav-header" style="text-decoration: none;">Lunch</a>
        <a href="s_dinner.html" id="nav-header" style="text-decoration: none;">Dinner</a>            
    </div>

    <header>
        <div class="parent">
            <img class="i1" src="../static/images/newlogo.png" alt="pentagon" />
        </div>
    </header>

    <main>
        <article id="home-body">
            <div>
                <a href="s_breakfast.html"><button id="bttn">Start Off With Breakfast Munchies!</button></a>
            </div>
        </article>
    </main>

</body>

</html>